/*
 * Variable
 */
:root {
  --_wechatColor_: #1aae19;
  --_alipayColor_: #00a3ee;
  --_waveValue_: 11;
}

/*theme*/
html[theme=light] {
  --_textColor_: #404040;
  --_pageBGColor_: #f9f7f1;
  --_headerCoverColor_: linear-gradient(#7168b5 0%, #418eab 50%, #83b6c9 100%);
  --_navLineColor_: linear-gradient(45deg, #7168b5, #418eab, #83b6c9);
  --_navTextBGColor_: #ebeae7;
  --_iconColor: #404040;
  --_authorNameColor_: #404040;
  --_articleCardColor_: #ebeae7;
  --_paginationBtnColor_: #f9f7f1;
  --_attributeBGColor_: #3c3f41;
  --_attributeColor_: #f9f7f1;
  --_tocBGColor_: rgba(235, 234, 231, .8);
  --_waveColor_: #7168b5;
  --_blockquoteLeftBorderColor_: #7168b5;
  --_hrBGColor_: #cecece;
  --_codeBGColor_: #e4e6e8;
  --_thBGColor_: #1b1e24;
  --_thTextColor_: #d5dde5;
  --_thBorderBottmColor_: #9ea7af;
  --_thBorderRightColor_: #343a45;
  --_tr_td_BorderColor_: #c1c3d1;
  --_td_odd_BGColor_: #ebebeb;
  --_tdBGColor_: #fff;
  --_postCopyrightBoderColor_: #c00;
  --_postCopyrightBGColor_: #efefef;
  --_postCommentButtonBGColor_: #efefef;
}
html[theme=dark] {
  --_textColor_: #a9b7c6;
  --_pageBGColor_: #2b2b2b;
  --_headerCoverColor_: linear-gradient(#7168b5 0%, #418eab 50%, #83b6c9 100%);
  --_navLineColor_: linear-gradient(45deg, #7168b5, #418eab, #83b6c9);
  --_navTextBGColor_: #ebeae7;
  --_iconColor_: #a9b7c6;
  --_authorNameColor_: #a9b7c6;
  --_articleCardColor_: #3c3f41;
  --_paginationBtnColor_: #a9b7c6;
  --_attributeBGColor_: #4e5254;
  --_attributeColor_: #a9b7c6;
  --_tocBGColor_: rgba(60, 63, 65, .8);
  --_waveColor_: #7168b5;
  --_blockquoteLeftBorderColor_: #7168b5;
  --_hrBGColor_: #555555;
  --_codeBGColor_: #3c3f41;
  --_thBGColor_: #1b1e24;
  --_thTextColor_: #d5dde5;
  --_thBorderBottmColor_: #9ea7af;
  --_thBorderRightColor_: #343a45;
  --_tr_td_BorderColor_: #c1c3d1;
  --_td_odd_BGColor_: #ebebeb;
  --_tdBGColor_: #fff;
  --_postCopyrightBoderColor_: #c00;
  --_postCopyrightBGColor_: #3c3f41;
  --_postCommentButtonBGColor_: #3c3f41;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", "Noto Sans SC", sans-serif !important;
  color: var(--_textColor_);
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--_textColor_);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.switch-pool {
  cursor: pointer;
}

img, .schedule {
  user-select: none;
}

ion-icon {
  color: var(--_iconColor_);
}

ion-icon[font-size-6] {
  font-size: 12px;
}

ion-icon[font-size-7] {
  font-size: 14px;
}

ion-icon[font-size-8] {
  font-size: 16px;
}

ion-icon[font-size-9] {
  font-size: 18px;
}

ion-icon[font-size-10] {
  font-size: 20px;
}

ion-icon[font-size-11] {
  font-size: 22px;
}

ion-icon[font-size-12] {
  font-size: 24px;
}

ion-icon[font-size-13] {
  font-size: 26px;
}

ion-icon[font-size-14] {
  font-size: 28px;
}

ion-icon[font-size-15] {
  font-size: 30px;
}

ion-icon[font-size-16] {
  font-size: 32px;
}

ion-icon[font-size-17] {
  font-size: 34px;
}

ion-icon[font-size-18] {
  font-size: 36px;
}

ion-icon[font-size-19] {
  font-size: 38px;
}

ion-icon[font-size-20] {
  font-size: 40px;
}

ion-icon[font-size-21] {
  font-size: 42px;
}

ion-icon[font-size-22] {
  font-size: 44px;
}

ion-icon[font-size-23] {
  font-size: 46px;
}

ion-icon[font-size-24] {
  font-size: 48px;
}

ion-icon[font-size-25] {
  font-size: 50px;
}

ion-icon[font-size-26] {
  font-size: 52px;
}

ion-icon[font-size-27] {
  font-size: 54px;
}

ion-icon[font-size-28] {
  font-size: 56px;
}

ion-icon[font-size-29] {
  font-size: 58px;
}

ion-icon[font-size-30] {
  font-size: 60px;
}

.all-transition div, .all-transition img, .all-transition a {
  transition: .3s ease-out;
}

.page-center-width {
  width: 1018px;
  margin: 0 auto;
}
@media (max-width: 1018px) {
  .page-center-width {
    width: 100%;
  }
}

._header {
  position: relative;
}

.overflow-hide, ._x_ {
  overflow: hidden;
}

.overflow-x-hide {
  overflow-x: hidden;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float:after {
  content: '';
  display: table;
  clear: both;
}

._root_ {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1px;
  perspective-origin: 50% 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.background-cover-x {
  position: relative;
  height: 360px;
  transform-style: preserve-3d;
  z-index: -1;
}
.background-cover-x .cloud-x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 50% 100%;
}
@media (max-width: 960px) {
  .background-cover-x .cloud-x {
    transform: none !important;
  }
}
.background-cover-x .cloud-x > img {
  position: absolute;
  max-width: none;
  max-height: none;
  width: 110%;
  height: auto;
  left: -5%;
  bottom: -5%;
}
@media (max-width: 960px) {
  .background-cover-x .cloud-x > img {
    bottom: 0 !important;
  }
}
@media (max-width: 1024px) and (min-width: 960px) {
  .background-cover-x .cloud-x > img {
    bottom: 35% !important;
  }
}
.background-cover-x .cloud-x:nth-child(1) {
  transform: translateZ(-40px) scale(41);
}
.background-cover-x .cloud-x:nth-child(2) {
  transform: translateZ(-25px) scale(26);
}
.background-cover-x .cloud-x:nth-child(3) {
  transform: translateZ(-15px) scale(16);
}
.background-cover-x .cloud-x:nth-child(4) {
  transform: translateZ(-8px) scale(9);
}
.background-cover-x .cloud-x:nth-child(5) {
  transform: translateZ(-5px) scale(6);
}
.background-cover-x .cloud-x:nth-child(6) {
  transform: translateZ(-4px) scale(5);
}
.background-cover-x .cloud-x:nth-child(7) {
  transform: translateZ(-3px) scale(4);
}
.background-cover-x .cloud-x:nth-child(8) {
  transform: translateZ(-2px) scale(3);
}
.background-cover-x .cloud-x:nth-child(9) {
  transform: translateZ(-1px) scale(2);
}
.background-cover-x .cloud-x:nth-child(10) {
  transform: translateZ(-0.5px) scale(1.5);
}
.background-cover-x .top-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--_headerCoverColor_);
  opacity: .7;
}
.background-cover-x .bottom-cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: -100vh;
  background-color: var(--_pageBGColor_);
}
.author-info-wrap {
  margin-bottom: 24px;
  background-color: var(--_pageBGColor_);
}
@media (max-width: 576px) {
  .author-info-wrap {
    width: 100%;
    position: absolute;
    top: 17vh;
    background: none;
  }
}
.author-info-x {
  width: 100%;
  display: grid;
  grid-template-columns: 134px 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ".avatar-wrap .author-summary-wrap .gam-wrap";
}
@media (max-width: 576px) {
  .author-info-x {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;
  }
}
.avatar-x-inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.avatar-x-inner .avatar-x {
  position: absolute;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  border: 0.6em solid var(--_pageBGColor_);
  background-color: var(--_pageBGColor_);
  z-index: 12;
  overflow: hidden;
}
@media (max-width: 576px) {
  .author-summary-wrap {
    margin-top: 70px;
  }
}
.author-summary-x {
  margin: 6px 0 0 18px;
}
@media (max-width: 576px) {
  .author-summary-x {
    margin: 0;
    text-align: center;
  }
}
.author-summary-x .author-incognito-x .author-incognito {
  font-size: .8em;
  color: var(--_authorNameColor_);
}
.post-achievement-x {
  margin-top: 4px;
}
.post-achievement-x .post-achievement-link + .post-achievement-link {
  margin-left: 14px;
}
.post-achievement-x .post-achievement-link > span {
  font-size: .9em;
  opacity: .8;
}
.post-achievement-x .post-achievement-link .post-achievement-num {
  margin-right: 4px;
}
.gam-wrap {
  grid-column-start: none;
}
.gam-x {
  margin-top: 40px;
}
@media (max-width: 576px) {
  .gam-x {
    margin-top: 14px;
    text-align: center;
  }
}
.gam-x .gam-link {
  display: inline-flex;
}
.gam-x .gam-link + .gam-link {
  margin-left: 12px;
}
._nav {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--_pageBGColor_);
}
.nav-x {
  position: relative;
  display: flex;
}
@media (max-width: 576px) {
  .nav-x {
    margin: 0;
    width: 200vw;
  }
}
.nav-list-x {
  position: relative;
  flex: 20%;
  justify-content: center;
  z-index: 2;
}
.nav-list-x:after {
  content: "";
  background: var(--_navLineColor_);
  display: block;
  height: 4px;
  width: 100%;
  bottom: 0;
}
.nav-list-x:hover ~ .nav-bar-x .nav-bar-inner {
  background-color: var(--_articleCardColor_);
}
.nav-list-x .nav-list-link {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.nav-list-x .nav-list-link > ion-icon {
  margin-right: 10px;
}

.nav-bar-x {
  pointer-events: none;
}

.nav-bar-x, .nav-bar-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: clip-path 0.3s cubic-bezier(0.4, 0, 0.2, 1.25);
}

.nav-bar-x.forward .nav-bar-inner {
  transition-delay: 0s;
}

.nav-bar-x.forward {
  transition-delay: .08s;
}

.nav-bar-x.backward .nav-bar-inner {
  transition-delay: .08s;
}

.nav-bar-x.backward {
  transition-delay: 0s;
}

._main {
  min-height: 66vh;
  padding: 16px;
  background-color: var(--_pageBGColor_);
}
.post-item-x {
  padding: 14px;
  background-color: var(--_articleCardColor_);
}
.post-item-x[data-macy-complete="1"] {
  transition: top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.post-item-date-wrap {
  margin-bottom: 16px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.post-item-date-x {
  display: flex;
  align-items: center;
}
.post-item-date-x .post-item-date-text-x {
  margin-left: 6px;
  display: flex;
  align-items: baseline;
}
.post-item-date-x .post-item-date-text-x .post-item-date {
  color: var(--_textColor_);
}
.post-item-date-x .post-item-date-text-x .post-item-date.post-date-year {
  font-size: .8rem;
}
.post-item-title-wrap.border-bottom {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--_textColor_);
}
.post-item-summary-wrap p {
  font-size: .9rem;
}
.post-item-attribute-wrap {
  margin-top: 20px;
}
.post-item-attribute-wrap + .post-item-attribute-wrap {
  margin-top: 0;
}
.post-item-attribute-wrap .post-item-tags-wrap, .post-item-attribute-wrap .post-item-categories-wrap {
  display: flex;
  align-items: center;
}
.post-item-attribute-wrap .post-item-tags-wrap > ion-icon, .post-item-attribute-wrap .post-item-categories-wrap > ion-icon {
  align-self: flex-start;
  flex: none;
  margin-right: 2px;
}
.post-item-list {
  display: flex;
  flex-wrap: wrap;
}
.post-item-list .post-item-list-item {
  display: flex;
  margin: 0 0 6px 6px;
}
.post-item-list .post-item-list-item .post-item-list-link {
  padding: .1rem .4rem;
  font-size: .6rem;
  background-color: var(--_attributeBGColor_);
  color: var(--_attributeColor_);
}
.post-pagination-wrap {
  margin: 60px 0;
}
.post-pagination-x {
  display: flex;
  justify-content: center;
}
.post-pagination-x .page-number, .post-pagination-x .extend {
  margin: 0 6px;
  width: 34px;
  height: 34px;
  background-color: var(--_articleCardColor_);
  text-align: center;
  line-height: 34px;
  transition: transform .2s ease-in-out;
}
.post-pagination-x .page-number:hover, .post-pagination-x .page-number.current {
  color: var(--_paginationBtnColor_);
  background-color: var(--_attributeBGColor_);
  transform: scale(1.2);
}
.post-pagination-x .extend ion-icon {
  vertical-align: middle;
}
.post-pagination-x .extend:hover {
  background-color: var(--_attributeBGColor_);
  transform: scale(1.2);
}
.post-pagination-x .extend:hover ion-icon {
  color: var(--_paginationBtnColor_);
}
.post-pagination-x .space {
  margin: 0 5px;
}
._footer {
  padding: 28px 0;
  background-color: var(--_articleCardColor_);
}
.footer-x p {
  text-align: center;
}
.float-menu-wrap {
  position: fixed;
  bottom: 175px;
  right: 0;
  height: 0;
}
.float-menu-wrap .float-menu-x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  width: 120px;
  height: 120px;
  background-color: var(--_pageBGColor_);
  margin-bottom: -30px;
  margin-left: -32px;
  right: 41px;
  bottom: -16px;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  clip-path: circle(0% at 100% 100%);
  transition: clip-path .3s linear;
}
.back-btn, .toc-switch, .search-x {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-btn:not(.null):hover, .toc-switch:not(.null):hover, .search-x:not(.null):hover {
  background-color: var(--_articleCardColor_);
}
.back-btn.null, .toc-switch.null, .search-x.null {
  cursor: not-allowed;
  opacity: .3;
}
.back-btn ion-icon, .toc-switch ion-icon, .search-x ion-icon {
  opacity: .4;
}
.theme-toggle-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-toggle-x .theme-toggle-label {
  position: relative;
  width: 34px;
  height: 20px;
  padding: 2px;
  border-radius: 40px;
  border: 2px solid #a7a6a5;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .25s ease-in-out;
}
.theme-toggle-x .theme-toggle-label:before {
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #a7a6a5;
  left: 0;
  transform: rotate(-45deg);
  box-shadow: none;
  transition: all .25s ease-in-out;
}
.theme-toggle-x .theme-toggle-checkbox:checked + .theme-toggle-label:before {
  left: 4px;
  background-color: transparent;
  box-shadow: 5px 5px 0 0 #686f76;
}
.theme-toggle-x .theme-toggle-checkbox:checked + .theme-toggle-label {
  border: 2px solid #686f76;
}
.theme-toggle-x .theme-toggle-checkbox:active + .theme-toggle-label:before {
  left: 2px;
}
.float-menu-checkbox:checked + .float-menu-x {
  clip-path: circle(200% at 0% 0%);
}
.float-menu-checkbox:checked ~ .switch-pool {
  background-color: unset;
  box-shadow: unset;
}

.switch-pool {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 3px;
  background-color: var(--_pageBGColor_);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.hide-line {
  display: block;
}

.hide-line, .x {
  position: relative;
}

.post-container-main-x a:not(.headerlink), .post-container-copyright-wrap a:not(.headerlink) {
  text-emphasis: dot;
  text-emphasis-position: under right;
}
.post-container-main-x a:not(.headerlink):hover, .post-container-copyright-wrap a:not(.headerlink):hover {
  text-emphasis: circle;
}
.post-container-wrap {
  padding-top: 30px;
}
.post-container-header-wrap {
  margin-bottom: 50px;
}
.post-container-header-wrap .post-container-header-title {
  text-align: center;
  font-size: 2rem;
}
.post-container-header-wrap .post-info-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 720px) {
  .post-container-header-wrap .post-info-wrap {
    flex-direction: column;
  }
}
.post-container-date-wrap {
  display: flex;
}
@media (max-width: 720px) {
  .post-container-date-wrap {
    flex-direction: column;
  }
}
.post-container-date-x {
  display: flex;
  align-items: center;
}
.post-container-date-x + .post-container-date-x {
  margin-left: 16px;
}
@media (max-width: 720px) {
  .post-container-date-x {
    margin: 0 0 4px 0 !important;
  }
}
.post-container-date-x .post-container-date-text-x {
  margin-left: 6px;
}
.post-container-tags-wrap, .post-container-categories-wrap {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .post-container-tags-wrap, .post-container-categories-wrap {
    margin: 4px 0 0 0;
    align-items: normal;
  }
}
.post-container-tags-wrap > ion-icon, .post-container-categories-wrap > ion-icon {
  margin-right: 2px;
}
@media (max-width: 720px) {
  .post-container-tags-wrap > ion-icon, .post-container-categories-wrap > ion-icon {
    margin-right: 0;
    flex: none;
  }
}
.post-container-list {
  display: flex;
  flex-wrap: wrap;
}
.post-container-list .post-container-list-item {
  display: flex;
  margin-left: 6px;
}
@media (max-width: 720px) {
  .post-container-list .post-container-list-item {
    margin-bottom: 4px;
  }
}
.post-container-list .post-container-list-item .post-container-list-link {
  padding: .1rem .4rem;
  font-size: .6rem;
  background-color: var(--_attributeBGColor_);
  color: var(--_attributeColor_);
}
.post-container-main-x ul, .post-container-main-x ol {
  margin: revert;
  padding: revert;
  list-style-type: revert;
}
.post-container-main-x h1, .post-container-main-x h2, .post-container-main-x h3, .post-container-main-x h4, .post-container-main-x h5, .post-container-main-x h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: .6em;
  padding-block-end: .6em;
}
.post-container-main-x h1 .headerlink, .post-container-main-x h2 .headerlink, .post-container-main-x h3 .headerlink, .post-container-main-x h4 .headerlink, .post-container-main-x h5 .headerlink, .post-container-main-x h6 .headerlink {
  opacity: 0;
  margin-left: 6px;
  vertical-align: sub;
  transition: opacity .3s ease-in-out;
}
.post-container-main-x h1:hover .headerlink, .post-container-main-x h2:hover .headerlink, .post-container-main-x h3:hover .headerlink, .post-container-main-x h4:hover .headerlink, .post-container-main-x h5:hover .headerlink, .post-container-main-x h6:hover .headerlink {
  opacity: 1;
}
.post-container-main-x blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
  position: relative;
  border-left: 4px solid var(--_blockquoteLeftBorderColor_);
}
.post-container-main-x blockquote p {
  margin: 8px 0;
}
.post-container-main-x hr {
  margin: 16px 0;
  border: 0 none;
  height: 2px;
  background-color: var(--_hrBGColor_);
}
.post-container-main-x p code {
  padding: 0 5px;
  border-radius: 2px;
  background-color: var(--_codeBGColor_);
  font-family: "Poppins", "Noto Sans SC", sans-serif;
}
.post-container-main-x .table-x {
  overflow: auto;
}
.post-container-main-x table {
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
}
.post-container-main-x table th {
  color: var(--_thTextColor_);
  background-color: var(--_thBGColor_);
  border-bottom: 4px solid var(--_thBorderBottmColor_);
  border-right: 1px solid var(--_thBorderRightColor_);
  padding: 14px 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
.post-container-main-x table tr {
  border-top: 1px solid var(--_tr_td_BorderColor_);
  border-bottom: 1px solid var(--_tr_td_BorderColor_);
}
.post-container-main-x table tr:first-child {
  border-top: none;
}
.post-container-main-x table tr:nth-child(odd) td {
  background-color: var(--_td_odd_BGColor_);
}
.post-container-main-x table td {
  background-color: var(--_tdBGColor_);
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid var(--_tr_td_BorderColor_);
  border-left: 1px solid var(--_tr_td_BorderColor_);
}
.post-container-copyright-wrap {
  margin-top: 50px;
}
.post-container-copyright-wrap .post-container-copyright-x {
  border-left: 4px solid var(--_postCopyrightBoderColor_);
  padding: 16px;
  background-color: var(--_postCopyrightBGColor_);
}
.post-container-copyright-item-x {
  margin: 0;
  word-wrap: break-word;
}
.post-reward-warp {
  margin: 50px 0 30px;
}
.post-reward-warp .post-reward-x {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-reward-item-x {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--_textColor_);
  overflow: hidden;
}
.post-reward-item-x .post-reward-item-switch {
  padding: 6px 12px;
  display: flex;
  color: var(--_textColor_);
  cursor: pointer;
}
.post-reward-item-x .post-reward-item-switch.wechat:hover ion-icon, .post-reward-item-x .post-reward-item-switch.wechat.active ion-icon {
  color: var(--_wechatColor_);
}
.post-reward-item-x .post-reward-item-switch.alipay:hover ion-icon, .post-reward-item-x .post-reward-item-switch.alipay.active ion-icon {
  color: var(--_alipayColor_);
}
.post-reward-item-radio.wechat:checked ~ .post-qr-code-x {
  display: block;
  transform: rotateY(0deg);
}

.post-reward-item-radio.alipay:checked ~ .post-qr-code-x {
  display: block;
  transform: rotateY(180deg);
}
.post-qr-code-wrap {
  perspective: 800px;
  position: relative;
}
.post-qr-code-wrap .post-qr-code-x {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -388px;
  margin-left: -150px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.post-qr-code-wrap .post-qr-code-x img {
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.post-qr-code-wrap .post-qr-code-x img:nth-child(2) {
  transform: rotateY(180deg);
}
.post-container-prev-next-wrap {
  margin: 28px 0 50px;
}
.post-container-prev-next-wrap .post-container-prev-next-x {
  border-top: 1px solid var(--_hrBGColor_);
  padding-top: 8px;
  overflow: hidden;
}
.post-container-prev-next-wrap .post-container-prev-next-x .post-container-prev-next-link {
  max-width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-container-prev-next-wrap .post-container-prev-next-x .post-container-prev-next-link ion-icon {
  flex: none;
  margin: 0 5px;
}
.load-comment {
  outline: 0 none;
  border: 0 none;
  width: 100%;
  font-size: 1rem;
  padding: 1em 0;
  background-color: var(--_postCommentButtonBGColor_);
  color: var(--_textColor_);
  cursor: pointer;
  margin-bottom: 50px;
  transition: transform .3s;
}
.load-comment.scale {
  transform: scaleX(0);
}
.post-container-toc-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}
@media (max-width: 576px) {
  .post-container-toc-wrap {
    left: unset;
    right: 0;
  }
}
.post-container-toc-wrap .post-container-toc-x {
  overflow-y: auto;
  padding: 20px;
  width: 246px;
  height: 100vh;
  background-color: var(--_tocBGColor_);
  clip-path: circle(0% at 0% 0%);
  transition: clip-path .6s linear;
  box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .post-container-toc-wrap .post-container-toc-x {
    width: 66vw;
    margin-left: -66vw;
    clip-path: circle(0% at 100% 0%);
  }
}
.post-container-toc-child {
  padding-left: 1em;
}
.toc-checkbox:checked ~ .post-container-toc-x {
  clip-path: circle(200% at 50% 10%);
}

.tags-item-wrap .tags-item-x {
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 180px;
}
@media (max-width: 576px) {
  .tags-item-wrap .tags-item-x {
    padding: 50px 30px;
  }
}
.tags-item-wrap .tags-item-x .tags-link {
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 1rem;
  background-color: var(--_articleCardColor_);
  color: var(--_textColor_);
}
.tags-item-wrap .tags-item-x .tags-link .tags-count {
  margin-left: 5px;
}

.tag-title-x {
  margin: 30px 0 20px;
  text-align: center;
}
.tag-title-x span {
  font-size: 1.2em;
}

.categorys-item-wrap .categorys-item-x {
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 180px;
}
@media (max-width: 576px) {
  .categorys-item-wrap .categorys-item-x {
    padding: 50px 30px;
  }
}
.categorys-item-wrap .categorys-item-x .categorys-link {
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  padding: 5px 8px;
  font-size: 1rem;
  background-color: var(--_articleCardColor_);
  color: var(--_textColor_);
}
.categorys-item-wrap .categorys-item-x .categorys-link .categorys-count {
  margin-left: 5px;
}

.category-title-x {
  margin: 30px 0 20px;
  text-align: center;
}
.category-title-x span {
  font-size: 1.2em;
}
